.staticHeader {
    height: 40px;
    width: 100%;
    background-color: #001F26;
    padding: 0 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.staticHeader__menu {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.staticHeader__menuItem {
    /* padding: 0 20px; */
    padding-top: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* title */
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 18px;
}

.staticHeader__menuItem.active {
    font-weight: 600;
    /* border-bottom: 5px solid white; */
}

.staticHeader__menuItemLabel {
    margin: 0 20px; 
}

.menuItem__bottomline {
    position: relative;
    /* bottom: -5px; */
    height: 5px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 2.5px 2.5px 0 0;
}

.staticHeader__right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.staticHeader__right > .MuiSvgIcon-root {
    color: #fff;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    margin-right: 20px;
    cursor: pointer;
}

.staticHeader__rightLogin {
    background-color: #00D1B6;
    border-radius: 24px;
    width: 84px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    /* label */
    color: #003D4C;
    font-size: 12px;
    text-align: center;
}