.banner {
    width: 100%;
    height: 34.72vw;
    background-position: center;
    background-size: cover;
    /* position: relative; */
    /* background-color: rgba(127, 255, 212, 0.9); */
    background-image: url(./bgPhoto.png);
}

.banner__image {
    width: 100%;
    height: 500px;
}

.banner__imageMask {
    height: 100%;
    /* position: absolute;
    top: 0;
    left: 0; */
    z-index: 0;
    position: relative;
    bottom: 100%;
}

.banner__contentBox {
    height: 100%;
    width: 42.708vw;
    margin-left: 195px;
    background: rgba(69, 208, 254, 0.182);
    z-index: 1000;
}

.banner__date {
    color: #001F26;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
}