.breadcrumbs {
    display: flex;
    flex-direction: row;

    /* font style */
    color: #001F26;
    font-family: OpenSans;
    font-size: 16px;
    line-height: 19px;
    margin-top: 30px;
    margin-left: 64px;
}

.breadcrumbs > span {
    margin: 0 20px;
    cursor: pointer;
}

.breadcrumbs > span.active {
    font-weight: 600;
}

.pageSummary {
    width: 100%;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    margin-top: 70px;

    /* font style  */
    color: #767676;
    /* font-family: GothamRounded; */
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}